html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.35), rgba(0,0,0,.35)),url("../media/snap2019-09-13-21-55-14.png");
  color: #252525;
  font-family: ヒラギノ角ゴ, Roboto, "Yu Gothic";
  margin: 0;
}

:root {
  --nav-height: 40px;
  --color-twitter: rgba(29, 161, 242, 1);
}

.bg-image {
  height: 100%;
  width: 100%;
  background-image: url("../media/snap2019-09-13-21-55-14.png");
  filter: blur(10px);
  position: fixed;
  right: -10px;
  bottom: -10px;
}

#navbar {
  background-color: rgba(0,0,0,.9);
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  display: flex;
  font-size: 0px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height:var(--nav-height);
  top: 0px;
  z-index: 1;

  h1 {
    font-weight: 200;
    font-size: 14px;
    line-height: var(--nav-height);
    margin: 0px;
    padding-left: 12px;

    a {
      color: #fff;
      font-size: 13px;
      transition: color 0.15s;
      text-decoration: none;
      &:hover {
        color: var(--color-twitter);
      }

      img {
        vertical-align: middle;
      }
    }
  }
  .nav {
    align-items: flex-end;
    flex-direction: row-reverse;
    display: flex;

    .nav-button {
      color: #aaa;
      font-size: 13px;
      height:var(--nav-height);
      line-height: var(--nav-height);
      text-align: center;
      width: 44px;
      &:hover {
        color: #fff;
        background: rgba(255, 255, 255, .15);
      }
    }
    input#nav-isOpen {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
  
      li {
        a {
          color: #aaa;
          display: inline-block;
          font-size: 13px;
          font-weight: 300;
          padding: 0 28px;
          position: relative;
          transition: color 0.15s;
          text-decoration: none;
          height:var(--nav-height);
          line-height: var(--nav-height);
          &:after {
            background: rgba(255, 255, 255, .75);
            content: '';
            display: block;
            height: 1px;
            position: absolute;
            transform: scale(0);
            transition: transform 0.15s;
            top: 100%;
            left: 0px;
            width: 100%;
          }
          &:hover {
            background: rgba(255, 255, 255, .15);
            color: #fff;
            &:after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

}

article {
  background-color: rgba(255, 255, 255, .95);
  border-radius: 20px;
  min-height: 74%;
  margin-top: 72px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
  padding: 54px 0 36px;
  position: relative;
  width: 90%;

  .banner {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .35);
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-family: Yu Gothic;
    padding: 3px 9px;
    position: absolute;
    top: 20px;
    left: -20px;
    background-color: rgb(189, 14, 14);

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      border-top: solid 0px #910909;
      border-left: solid 0px #910909;
      border-bottom: solid 15px transparent;
      border-right: solid 20px #910909;
      left: 0px;
      top: 100%;
    }
  }

  .avatar-icon {
    border-radius: 50%;
    border: solid 2px #fff;
    box-shadow: 0 0 18px #aaa;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 80px;
    height: 80px;
  }

  .article-container {
    width: 90%;
    margin: 0 auto;
  }

  section {
    margin-bottom: 36px;

    h1 {
      margin: 12px 0;
      padding: 0;
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }

  ul {
    margin: 0px;
    padding: 0px;
  }
}

#profile {
  img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    margin: 0 0 16px;
    height: 150px;
    width: 150px;
  }
  a {
    color: var(--color-twitter);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
  }
  p {
    color: #222;
    font-size: 13px;
  }
}
#works {

  img {
    width: 100%;
    height: auto;
  }
}

footer {
  background: #fff;
  border-radius: 20px 20px 0 0;
  text-align: center;
  position: relative;
  width: 90%;
  margin: auto;
  z-index: 1;
  
  p {
    font-size: 14px;
    margin: 0;
    padding: 12px 0 3px;

    a {
      transition: opacity 0.15s;
      text-decoration: none;
      color: var(--color-twitter);
      &:hover {
        opacity: 0.7;
      }
    }
  }

  div.divider {
    background: var(--color-twitter);
    height: 1px;
    width: 90%;
    margin: 0 auto;
  }

  small {
    display: block;
    padding: 9px;
    font-size: 14px;
  }
}