@charset "UTF-8";
html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../media/snap2019-09-13-21-55-14.png");
  color: #252525;
  font-family: ヒラギノ角ゴ, Roboto, "Yu Gothic";
  margin: 0;
}

.bg-image {
  height: 100%;
  width: 100%;
  background-image: url("../media/snap2019-09-13-21-55-14.png");
  filter: blur(10px);
  position: fixed;
  margin: -10px;
  z-index: -1;
}

#navbar {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 44px;
  line-height: 44px;
  top: 0px;
  z-index: 1;
}

#navbar h1, #navbar h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

#navbar h1 {
  float: left;
  font-size: 12px;
  padding: 0 12px;
  transition: color 0.25s;
}

#navbar h1 a {
  color: #1da1f2;
  text-decoration: none;
}

#navbar h1 a img {
  vertical-align: middle;
}

#navbar h2 {
  color: #fff;
  text-align: center;
  width: 44px;
  float: right;
}

#navbar h2:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

#navbar ul {
  float: right;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navbar ul li {
  position: relative;
}

#navbar ul li:hover:after {
  transform: scaleX(1);
}

#navbar ul li:hover a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

#navbar ul li:after {
  content: '';
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: calc(100% - 2px);
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.15s;
}

#navbar ul li a {
  color: #aaa;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  padding: 0 36px;
  transition: color 0.15s, background-color 0.15s;
}

article {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  min-height: 74%;
  margin-top: 72px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  padding: 36px 0;
  position: relative;
  width: 90%;
}

article .banner {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-family: Yu Gothic;
  padding: 3px 9px;
  position: absolute;
  top: 20px;
  left: -20px;
  background-color: #bd0e0e;
}

article .banner:after {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: solid 0px #910909;
  border-left: solid 0px #910909;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #910909;
  left: 0px;
  top: 100%;
}

article .article-container {
  width: 80%;
  margin: 0 auto;
}

article section {
  margin-bottom: 36px;
}

article section h1 {
  margin: 12px 0;
  padding: 0;
  font-size: 24px;
}

article ul {
  margin: 0px;
  padding: 0px;
}

#welcome {
  text-align: center;
}

#profile {
  text-align: center;
}

#profile img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#profile a {
  color: #1da1f2;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

#works {
  text-align: center;
}

footer {
  text-align: center;
}

footer small {
  background: #fff;
  border-radius: 20px 20px 0 0;
  width: 90%;
  margin: auto;
  display: block;
  padding: 9px;
  font-size: 15px;
}
